
<div class="title">
    <h1>USER PROFILE</h1>
</div>

<p id="notice"><%= notice %></p>


<div class="page">

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.firstname+" "+@user.lastname %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>First Name</strong> <%= @user.firstname %><br />
      <strong>Last Name</strong> <%= @user.lastname %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

<% if is_admin? %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

</div>